[2017-04-24 22:34] dhermes opened #5 "Should stream / iter_contents be used when using `Download`"
The primary motivation is that users could avoid putting the contents into RAM all at once and just flush right to disk ([Context][1]). `requests` has support for a ["lazy" response][2] body.

/cc @lukesneeringer @jonparrott @tseaver

----

It's worth noting that I have a goal of making `google.resumable_media.FOO` subpackages that **explicitly** support a given transport (mentioned in [first rele

[2017-05-19 14:49] dhermes opened #7 "Allow sending extra kwargs through to transport.request"
See https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3421#issuecomment-302650580 for context.

/cc @sstepashka

[2017-06-22 13:35] johanneskoester opened #8 "Please add the license to the manifest"
Since Apache license has to be shipped with the source, it should be added to the MANIFEST.in file.

xref: conda-forge/staged-recipes#3163

[2017-06-22 15:23] dhermes commented on #8
@johanneskoester How does ownership of the conda package work? ISTM that at least one of the actual maintainers of `google-cloud-storage` / `google-resumable-media-python` should be an owner of the Conda package.

/cc @jonparrott

----

I'm also happy to add the `LICENSE` to the `MANIFEST.in` file. Would you like to send a PR?

[2017-06-22 15:36] jonparrott commented on #8
Conda is essentially a downstream packager (like Debian), so it doesn't have to be 1-to-1 with thet upstream owners.

[2017-06-22 17:39] johanneskoester commented on #8
No time right now for creating a PR. Of course we would be very happy to have one of you as a contact maintainer. Just let me know if you want to.

[2017-06-22 19:58] #8 closed

[2017-07-13 18:52] tseaver opened #12 "Python 3.x (x < 6): 'get_body(response)' returns bytes to 'json.loads()'"
See: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3577#issuecomment-313179852

[2017-07-13 19:07] dhermes commented on #12
I should probably just evict this `json.loads()`[ code][1] all together:

[code]

I had thought it was "universal" that all APIs return `size` but IIRC even the BigQuery API does not (so this code block would need to change before [\#3555][2] can be successfully merged.

[1]: https://github.com/GoogleCloudPlatform/google-resumable-media-python/blob/362588860febdc6aff074b6650022b81cc6759f9/google/r

[2017-07-18 06:08] #12 closed

[2017-07-20 22:16] dhermes opened #17 "Make it "easy" to send a custom user agent"
Current user agent is `python-requests/2.18.1` using the `requests` transport (based on the version of requests).

[2017-07-20 22:16] dhermes commented on #17
/cc @jonparrott

[2017-07-31 22:34] dhermes opened #22 "Add (optional) hash validation of objects"
/cc @jonparrott

[2017-08-01 17:52] #5 closed

[2017-08-07 17:38] dhermes opened #27 "System tests do not use "unique" identifiers"
For example a concurrent `master` and tag build recently collided:

- https://circleci.com/gh/GoogleCloudPlatform/google-resumable-media-python/188
- https://circleci.com/gh/GoogleCloudPlatform/google-resumable-media-python/189

[2017-08-11 21:28] lukesneeringer opened #28 "asyncio support"
_From @graingert on March 6, 2017 16:45_

I want to use google-cloud-python in a Sanic web service, however I'm having to use run_in_executor() to use this library without stalling the eventloop.

This is much less efficient than an Asyncio native client.

_Copied from original issue: GoogleCloudPlatform/google-cloud-python#3103_

[2017-08-11 21:28] lukesneeringer commented on #28
_From @graingert on March 6, 2017 18:35_

@jonparrott it would be possible to support python 2.x and python 3.x with various event loops from the same source by using a custom deferred, future or IOAction implementation.

[2017-08-11 21:28] lukesneeringer commented on #28
_From @jonparrott on March 6, 2017 18:36_

This might be possible once we exorcise httplib2 from this project. @lukesneeringer

[2017-08-11 21:28] lukesneeringer commented on #28
That sounds right to me (and that has moved up in priority slightly).

Tagging #1998 for reference.

[2017-08-11 21:28] lukesneeringer commented on #28
_From @graingert on March 6, 2017 18:40_

the core code would use Action composition:
[code]

Then there could be various, pluggable http transport implementations, that would take an Action instance and return a Future from various event systems (asyncio, twisted), or even use blocking IO.

[2017-08-11 21:28] lukesneeringer commented on #28
_From @graingert on March 8, 2017 9:59_

[code]

Should be pretty easy with twisted deferred too. Idea being, calling code would choose an IO type, configure the google cloud platform library appropriately, call a method on some API endpoint and then be able to call .exec() on the returned action. The calling code would then be able to receive the value, await and receive the value, or yield it in

[2017-08-11 21:28] lukesneeringer commented on #28
_From @graingert on March 8, 2017 13:57_

Here's how you might to inline callbacks: https://gist.github.com/graingert/ca6cdd5d9ae2e18ca917b4594ac8a633#file-asyncio_and_blocking_io-py-L141-L148

[2017-08-11 21:28] lukesneeringer commented on #28
_From @graingert on March 8, 2017 14:0_

inside google code platform:
[code]

In some calling code:
[code]

[2017-08-11 21:28] lukesneeringer commented on #28
_From @graingert on July 24, 2017 12:8_

of course https://pypi.python.org/pypi/txaio might be a better way of implementing it.

[2017-08-11 21:28] lukesneeringer commented on #28
_From @jonparrott on July 24, 2017 16:9_

@graingert oh that's super interesting. However, this seems to re-enforce the fact that we can't really support this without breaking our public interface and without seriously re-thinking all of our internals. We'd have to start from scratch with this in mind. :/

[2017-08-11 21:28] lukesneeringer commented on #28
_From @graingert on July 24, 2017 16:11_

@jonparrott with https://github.com/crossbario/txaio/issues/113 and https://github.com/crossbario/txaio/issues/110

you probably won't have to change that much.

And you'd be able to keep the same public api for people using requests.

[2017-08-11 21:29] lukesneeringer commented on #28
_From @jonparrott on July 24, 2017 16:14_

inlinecallbacks would help, but this is an enormous undertaking and a lot of our code that deals with IO is non-trivial (resumable-media).

I'm open to doing this, but from my perspective it seems like the tooling isn't quite ready and it would take an enormous amount of engineering effort to get all of our plumbing ready- plus, we have a consider how gRP

[2017-08-11 21:29] lukesneeringer commented on #28
_From @dhermes on July 24, 2017 16:15_

FWIW, `resumable-media` would be the easiest thing of all to add support for because the actual I/O is "isolated" (I took the sans-I/O approach when writing it)

[2017-08-11 21:29] lukesneeringer commented on #28
_From @graingert on July 24, 2017 16:16_

@jonparrott @dhermes yeah a sans-io approach for this whole library would be the best option!

[2017-08-11 21:29] lukesneeringer commented on #28
_From @jonparrott on July 24, 2017 16:16_

then it might be a good place to proof-of-concept this?

[2017-08-11 21:29] lukesneeringer commented on #28
_From @dhermes on July 24, 2017 16:30_

@jonparrott I'm happy to review PRs but I don't have cycles.

As an example, take a look at the very small amount of code in [`ResumableUpload.transmit_next_chunk`][1]:

[code]

Every public method is split into "prepare" and "process" stages in the same way.

[1]: https://github.com/GoogleCloudPlatform/google-resumable-media-python/blob/d296d036453539f03b95

[2017-08-11 21:29] lukesneeringer commented on #28
I am going to move this to resumable-media.

[2017-08-11 22:11] graingert commented on #28
Hot stuff. Let's drop python 2.7 support

[2017-08-11 22:12] jonparrott commented on #28
If only our users wouldn't literally murder us for it. :)

[2017-08-11 23:04] nkeriks opened #29 "Library now requires requests >= 2.18.0"
Hi - this [recent change](https://github.com/GoogleCloudPlatform/google-resumable-media-python/commit/3128765d567d93dc6c0884c0835159647baad6cd) uses the `requests.models.Response` object as a context manager, which is only added in recent versions (>= 2.18.0) of the [requests library](https://github.com/requests/requests/blob/master/HISTORY.rst)

While this is a year old version of requests, it wo

[2017-08-11 23:08] dhermes commented on #29
@nkeriks Thanks for bringing this up, we've had similar issues in `google-cloud-python`. Note that this library does not have `requests` as an **explicit** requirement.

@jonparrott WDYT is the right move here?

[2017-08-11 23:11] jonparrott commented on #29
Add an optional with requests >= 2.18.0?

[2017-08-11 23:31] dhermes commented on #29
@jonparrott Will that enforce the lower bound when users just `pip install google-resumable-media` without the extras.

It's probably worth asking @nkeriks how he came about this realization.

[2017-08-11 23:39] nkeriks commented on #29
I had an initialization script that was pip installing various packages (including google cloud python libraries) into a conda python environment. Not the greatest idea in general, but this usually handles dependencies fine.

[2017-08-11 23:39] jonparrott commented on #29
No

On Fri, Aug 11, 2017, 4:31 PM Danny Hermes <notifications@github.com> wrote:

[2017-08-12 00:57] lukesneeringer commented on #29
The optional as well as the fix in google-cloud-python should be sufficient.

[2017-08-14 18:00] #29 closed

[2017-10-04 17:23] mfschwartz commented on #22
I'd like to add basic support for checksum validation for downloads, and would appreciate your thoughts about the proposed approach:

1. The initial support would only cover downloads, not uploads.
2. The initial support would only cover non-composite objects. Composite objects have no md5 checksum and instead need to be validated using crc32c, and the latter will perform very badly unless the use

[2017-10-09 17:41] mfschwartz commented on #22
A first cut implementation that does checksumming for non-chunked, non-composite downloads is being reviewed at:
https://github.com/GoogleCloudPlatform/google-resumable-media-python/pull/31
and
https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4133

The next big things that need to be done:
  - Figure out why we heard reports of cases of truncated downloads (which previously resulted

[2017-10-16 21:58] danqing opened #34 "MD5 validation broken?"
I have a file that I uploaded and then downloaded with `google-resumable-media` under the hood. It seems that 0.3 reports that the `X-Goog-Hash` header reports a different MD5 than the computed one. The downloaded file however is intact.

The only thing is my file is gzipped. Does gzip break the MD5 calculation?

Thanks!

----

**Also to be closed**: https://github.com/GoogleCloudPlatform/google-c

[2017-10-16 22:41] dhermes commented on #34
Thanks for filing @danqing. I'll look into it. It might break in a way that we didn't expect (i.e. we made a programming error).

/cc @mfschwartz

[2017-10-16 22:42] dhermes commented on #34
I'll be using the `sdist` for [0.3.0][1] as a test (`google-resumable-media-0.3.0.tar.gz`)

[1]: https://pypi.org/project/google-resumable-media/0.3.0/#files

[2017-10-16 23:00] dhermes commented on #34
OK I just tried to reproduce and could not. @danqing could you provide a gzip-ed file? Is this happening in a reproducible fashion for you? Do you have a stacktrace you could share?

----

Here is what I used to try to reproduce:

[code]

[2017-10-16 23:06] mfschwartz commented on #34
Danny - I suspect this problem may happen when the content-encoding is set to gzip.
Try this:
  (create a text file, x, then do:)
  % gsutil cp -Z x gs://your-bucket/x

You can see the content-encoding using:
  % gsutil ls -L gs://your-bucket/x

Then try to download it using the updated library.

[2017-10-17 00:02] mfschwartz commented on #34
I confirmed that having content-encoding:gzip causes this failure.
The problem is that the local MD5 is being computed against the un-gzipped content.

Is google-cloud-python uncompressing the object on the fly, or is it not setting accept-encoding': 'gzip, deflate' ?

[2017-10-17 07:57] gaetano-guerriero commented on #34
Confirmed here. When content_encoding is gzip on download `x-goog-hash` refers to compressed object, the library checks it against the uncompressed bytes stream.

[2017-10-17 15:59] dhermes commented on #34
@mfschwartz I have also reproduced (see below). I'd love to add a system test to this library (`google-resumable-media`). Is it as simple as [`gzip`-ing][1] the bytes locally and then sending `Content-Encoding:       gzip` and `Content-Type: text/plain` as headers?

----

Here is what I did:

[code]

[1]: https://docs.python.org/3/library/gzip.html

[2017-10-17 16:38] mfschwartz commented on #34
Hi Danny - I'm working on a fix now, as well as a system test.

[2017-10-17 19:07] dhermes commented on #34
@mfschwartz Thanks.

Relevant / related: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3380/files was just merged to `google-cloud-storage` (though has not been [released][1] just yet)

Questions for you:

- Is using `'accept-encoding': 'gzip, deflate'` going to be a performance drop?
- Does the MD5 hash correspond to the decoded data or the gzipped data? (It seems like the `gzip

[2017-10-17 19:14] mfschwartz commented on #34
- Using `'accept-encoding': 'gzip, deflate'` will boost performance, because the server will send the object gzipped instead of gunzipping on the fly (so, require downloading fewer bytes)
- Te MD5 hash corresponds to the data as stored on the server. So, when stored with content-encoding: gzip the MD5 covers the gzipped data

[2017-10-17 19:19] dhermes commented on #34
Also relevant: https://stackoverflow.com/a/25811745/1068170.

[2017-10-20 21:18] #34 closed

[2017-10-20 21:19] mfschwartz opened #37 "deflate-encoded content will fail md5 checksum"
https://github.com/GoogleCloudPlatform/google-resumable-media-python/pull/36 fixes the problem of MD5 checksum failures when content was stored with content-encoding:gzip, but we will have a similar problem for content with content-encoding:deflate because that fix only monkey patches the decoder for the gzip case.

Two options:

1. Change accept-encoding to only be "gzip", rather than "gzip, defl

[2017-10-20 21:24] dhermes commented on #37
I vote for option 2, it can be done in the same fashion by subclassing [`urllib3.response.DeflateDecoder`][1].

[1]: https://github.com/shazow/urllib3/blob/ff5c6749c237ff6a8b0a3450713ecce7469a7ea8/urllib3/response.py#L22

[2017-10-23 17:37] tseaver opened #41 "GCS test failures for 'headers'"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/3858

[code]

[2017-10-23 17:50] dhermes commented on #41
I'm on it. `0.3.1` just means the mock needs to grow some more feathers.

[2017-10-23 23:31] dhermes commented on #41
@tseaver Just realized you filed this against `google-resumable-media-python`.

The "bug" is simply that the mocks (on the `google-cloud-storage` side) are no longer valid.

I'm fixing it either way.

[2017-10-23 23:31] #41 closed

[2017-10-24 00:29] mlissner opened #42 "Dependency on urllib3?"
I just upgraded the packages on my system, and this package (which must be a dependency for another package) broke my system. I'm getting the error that:

```ImportError: No module named urllib3.response```

And I don't have urllib3 installed, so that's the problem. However, *why* don't I have it installed? I only use pip to install things, so I think the fact that urllib3 isn't installed means th

[2017-10-24 00:31] mlissner commented on #42
Yeah, this looks like the culprit from three days ago: https://github.com/GoogleCloudPlatform/google-resumable-media-python/commit/b6c62d80ad8415626fade6caf4282939862996bd

I imagine this will be breaking a fair number of people's systems soon?

[2017-10-24 03:01] dhermes commented on #42
@mlissner Can you be a bit more explicit about how this broke your system?

FWIW, `urllib3` comes in as a dependency of `requests`, which is an "extra" rather than being a direct dependency. In other words, a perfectly reasonable way to install this library would be

[code]

/cc @jonparrott

[2017-10-24 10:57] john2x commented on #42
We're currently affected by this issue. I was able to track it down to having an explicit dependency to the following:

[code]

`requests 2.10.0` doesn't depend on `urllib3` yet, so it isn't installed automatically.

Updating our requirements to

[code]

addresses the issue.

[2017-10-24 18:03] mlissner commented on #42
Yep, we have requests pinned with:

    requests==2.9.1

I think the fix here is to require a version of requests that contains urllib3 (or not use urllib3).

[2017-10-24 18:05] mlissner commented on #42
And to respond to this....it broke my system because as part of deployment we always upgrade the packages in our requirements.txt file. In there we have requests pinned, but not `google-cloud`. So when we upgraded everything, google-cloud suddenly needed urllib3, but didn't have it.

[2017-10-24 18:25] dhermes commented on #42
How do you mean? The dependency is optional because it can only be triggered if the `google.resumable_media.requests` package is imported. So you wouldn't see any issue at install time, just at run time. If you have code that is failing at run time, can you share a stacktrace? Also, can you share the pinned versions for `requests` and any package that begins with `google`?

----

As for `google-cl

[2017-10-24 18:52] mlissner commented on #42
Here's the stacktrace. It's a doozy:

[code]

I think it just comes from here though:

https://github.com/GoogleCloudPlatform/google-resumable-media-python/blob/b6c62d80ad8415626fade6caf4282939862996bd/google/resumable_media/requests/download.py#L21

I don't actually use that code, but I guess it gets imported somehow.

I honestly don't know how pip handles dependency conflicts. I'd expect that if

[2017-10-24 19:02] dhermes commented on #42
OK, that stacktrace is what I expect. It really just reflects an "out-of-compliance" dependency on `requests`.

The "fix" is for you is to update your dependency. I doubt (but don't know) that upgrading `requests` will break you in any way.

----

Unfortunately, `pip` will allow you to break dependency requirements (it's probably an np-hard problem not to):

[code]

----

I am going to close this

[2017-10-24 19:02] #42 closed

[2017-10-24 19:13] mlissner commented on #42
I guess I'd expect pip to make a dependency graph and sort these things out. Apt can handle such things. Anyway, I've got tests...I already just installed urllib3, but I'll upgrade requests and see what happens. They're pretty careful stewards.

Thanks again.

[2017-10-24 19:17] dhermes commented on #42
Sure thing, sorry for the pain!

[2017-10-25 15:43] tseaver commented on #41
Are there any other functional (non-mocked unit) tests for `google-resumable-media`, beside those in `google-cloud-storage`?  I'm really puzzled that the stream object itself is supposed to have headers.

[2017-10-25 15:50] dhermes commented on #41
@tseaver The `stream` (which is an `io.BytesIO`) is a "good-enough" approximation of a `urllib3.response.HTTPResponse` (i.e. we were previously only using `read()` and `close()` on `response.raw`)

[2017-10-25 15:51] dhermes commented on #41
There are plenty of system tests in `tests/system`. One of them is currently broken because of spec adherence issues with `gzip`-encoded data. (i.e. this library didn't account for the behavior to change)

[2017-11-03 17:59] brandonw opened #43 "urllib3 dependency"
Commit b6c62d80ad8415626fade6caf4282939862996bd introduced a dependency on the urllib3 library without a corresponding addition in the setup.py

As of now, if the latest version of google-resumable-media-python is used in a project that does not otherwise require urllib3, then the following error will be encountered:

`ImportError: No module named urllib3.response`

[2017-11-03 18:22] dhermes commented on #43
@brandonw It's included transitively by the [`requests >= 2.18.0`][1] "extra" and the `google.resumable_media.requests` package can't be used without the extra.

How are you installing `google-resumable-media`? If you've done it via `google-cloud-storage`, you will have gotten the extra.

Also, see #42 for a previous discussion of this. I am going to close since this is "working as intended" but a

[2017-11-03 18:22] #43 closed

[2017-11-03 18:58] brandonw commented on #43
@dhermes Ah, that makes sense. I am installing it via `google-cloud`, but we have the `requests` library pinned to an earlier version, hence not pulling in `urllib3` automatically.

Pipfile would be useful here :-) Thanks for the insight.

[2017-11-23 16:36] farin opened #45 "Add request timeout"
Hi
it seems that our project, which use https://github.com/GoogleCloudPlatform/google-cloud-python/tree/master/storage/google/cloud/storage, is getting stuck during upload.

Although we can't confirm it with absolute certainty, it may be good idea have request timeout in resumable-media anyway.
Questions are:
- do you find a timeout good idea in general?
- should be there some well-chosen conserva

[2017-12-13 15:05] lukesneeringer commented on #45
I think a sane timeout makes sense.

[2018-02-27 17:00] Jonathan34 opened #46 "issue uploading a zip file"
Using python 2.7 with following packages:
[code]
the following sample code fails ultimately with:
`TypeError: request() got an unexpected keyword argument 'data'`

[code]
reason, i believe, is that http_request is created with 'data' argument while it expects 'body' argument:

[code]

Full stacktrace:
[code]

[2018-02-27 17:18] Jonathan34 commented on #46
i upgraded couple of packages and it worked.
[code]

not sure which one was bad, but it should come as a dependency when we install google-storage package...?

[2018-02-27 17:21] jonparrott commented on #46
I'm going to close this for now, but if you can reproduce using a clean install of the latest version, we can re-open. :)

[2018-02-27 17:21] #46 closed

[2018-03-07 19:44] hzlmn commented on #28
Hey, any progress on this?  big :plus: for asyncio support

[2018-03-07 20:10] jonparrott commented on #28
It's likely just not going to be feasible until we can stop supporting Python 2.7.

We can (and will) revisit this in 2020.

[2018-03-07 20:16] graingert commented on #28
What's wrong with using sans-io or txaio? @jonparrott

[2018-03-07 20:22] jonparrott commented on #28
This library itself is already mostly sans-io, so if someone wanted to go and write an asyncio interface they can - I'll happily review it. But for us there's no practical benefit to prioritizing that work because our 1st-party downstream clients (google-cloud-storage and google-cloud-bigquery) can not take advantage of asyncio.

[2018-09-19 23:41] houglum opened #49 "`_write_to_stream()` in the `Download` class forces decompression of the response even if "Accept-Encoding: gzip" was present in the request"
Note for Googlers: This is the follow-up for an internal-only-visible issue at https://issuetracker.google.com/issues/115343385.

The Decompressive Transcoding docs for Cloud Storage [1] state that if an object's Content-Encoding is set to "gzip", we'll decompress the object when someone performs a media request to download it... unless 1 of 2 conditions are true -- one of which is if the requeste

[2018-09-19 23:54] dhermes commented on #49
This was something I was worried could happen but never adequately followed up, thanks @houglum. There was discussion in #35 and #36 (and related issues).

[2018-09-20 03:47] houglum commented on #49
Thanks for the quick response!

I'd write up a fix for this, but I've got other higher-priority work lined up for the next couple of weeks.  And the bulk of my time on this would be spent looking through the tests and figuring out how to add a test for it :P

Is it likely this will be fixed anytime soon? If not, I can take a stab at it when I get the time.

[2018-09-21 06:45] andersgb opened #50 "md5 validation fails on gzipped PNG image"
This is essentially the same issue as was fixed in #36, but now occuring specifically for PNG files with `Content-Type image/png` and `Content-Encoding gzip`. I can successfully download neighboring ascii files that are also gzipped (but without a `Content-Type` set).

This occurs with `google-resumable-media` 0.3.1:
[code]

If I downgrade to `google-resumable-media` 0.2.3 the PNG download succeed

[2018-12-14 03:31] smarthall opened #52 "Docs link in the README is broken"
The link in the README goes to:

`https://googlecloudplatform.github.io/google-resumable-media-python/latest/`

Which is currently not found.

[2018-12-14 16:38] tseaver commented on #52
Odd, the redirects seem to have broken:  the right link is:

https://googleapis.github.io/google-resumable-media-python/latest/

@theacodes Any idea why the redirect is missing?

[2018-12-14 16:40] #52 closed

[2018-12-19 02:32] alexpirine commented on #28
OMG 2020
I might get hit by a bus before that and never see it :(

[2018-12-19 02:36] theacodes commented on #28
@alexpirine please remember to be respectful in this space, as participating in project discussions mean upholding our code of conduct.

We hear you. We want this to, but we have to do right by our large set of 2.7 users. You may have noticed we announced a depreciation timeline for 2.7 recently. This is the first big step in us being able to adopt new python 3 only features. We move a bit more sl

[2018-12-20 22:21] crwilcox opened #54 "Update nox.py to use new nox and noxfile.py"

[2018-12-20 22:21] crwilcox opened #55 "Fix broken docs build"
`nox -s docs` is failing.

[2018-12-20 22:28] crwilcox opened #56 "Systest Failure: 'test_chunked_download'."
The following file fails the chunked_download test.

https://github.com/googleapis/google-resumable-media-python/blob/master/tests/system/requests/test_download.py#L63-L71

Test: tests/system/requests/test_download.py::test_chunked_download

Possibly related to #49

[2018-12-21 18:44] crwilcox commented on #56
Tracking this internally 121376753

[2018-12-25 14:51] mlissner opened #58 "Import error provides wrong message"
The code here isn't always accurate:

https://github.com/googleapis/google-resumable-media-python/blob/master/google/resumable_media/requests/__init__.py#L664-L673

Basically, it says that a certain version of requests is required, but the `ResolutionError` that's caught can be thrown by other reasons. In my case, I satisfied the requirement for requests, but I had a version conflict in a differen

[2019-01-07 23:54] #54 closed

[2019-01-09 19:15] kingkupps opened #59 "Import error despite having satisfactory version of requests"
Using a virtualenv for installing dependencies through pip. I notice that pip installs the following versions of requests and google-resumable-media:

requests-2.21.0
google-resumable-media-0.3.2

But I'm still met with the following import error:

[code]

Even after adding `google-resumable-media[requests]` to the set of pip dependencies being installed, the same message appears.

[2019-01-09 21:33] tseaver commented on #59
Pip has a bug with extras which is likely affecting you here:  https://github.com/pypa/pip/issues/4957

[2019-01-09 22:51] kingkupps commented on #59
Thanks for the heads up! I'm don't think that issue affects this though since I can verify through `pkg_resources.working_set` that requests version 2.21.0 is being installed correctly.

Since google-resumable-media only requires >= 2.18.0 this seems like a bug.

Just for completeness I separated my `pip install` call into separate calls, which according to [this comment](https://github.com/pypa/p

[2019-01-11 19:35] tseaver commented on #59
I cannot reproduce in a fresh virtual environment:

[code]

[2019-01-11 22:34] kingkupps commented on #59
Ahh shoot my bad this looks to be a pyinstaller specific issue as requests wasn't being included in the resulting binary. Issues are resolved now!

For others that might stumble across this issue, adding a hook called `hooks-google_resumable_media.requests.py` with the following should fix issues:

[code]
@tseaver thanks for looking into this!

[2019-01-11 22:34] #59 closed

[2019-01-11 22:39] kingkupps commented on #58
As another example of why finer grained error reporting would be helpful here, I recently was using PyInstaller for creating a binary from python scripts (see [this issue](https://github.com/googleapis/google-resumable-media-python/issues/59)). If the error had said something along the lines of "No module 'request' is installed ..." it would have made debugging much easier.

I was operating under

[2019-01-11 23:18] kurkop commented on #58
Idem.

Hi, for some hours, I had a problem with google-resumable-media. I updated requests to 2.18.0 and doesn't work. Any idea?. Is It a new error?

[code]

[2019-01-16 19:44] tseaver commented on #55
[code]

[2019-01-16 19:49] tseaver commented on #45
See also #7.

[2019-02-06 04:36] anshulpatel25 opened #60 "Support XML API for Resumable Upload"
## Expected Behavior

1. Generate signed URL using `gsutil`.

[code]

2. Use the signed URL with `ResumableUpload`

[code]

3. Upload should execute initiate method without giving an error and return the response object.

## Actual Behavior

1. Generate signed URL using `gsutil`.

`gsutil signurl -d 600m ~/Downloads/key.json gs://<gcs_bucket>/<file_name>.txt`.

2. Use the signed URL with `Resumabl

[2019-02-06 16:31] antoncohen commented on #60
I think the key thing here is that the XML API requires the header `x-goog-resumable: start`, while the JSON API doesn't. If `ResumableUpload.initiate()` set the header `x-goog-resumable: start` it would work with the XML API. As far as I know the XML API is the only way to do signed URLs.

[2019-03-01 20:51] aviau opened #61 "document resuming"
Hello,

Does this library support resuming an upload?

If yes, is there an example of this anywhere?

[2019-03-20 12:09] krishna-kashyap opened #62 "Uploading of dynamically generated streams of data"
Hi,

With the resumable upload, using `stream_final=False` is recommended way of uploading continuously growing streams (logs are given as example). However, trying to use `stdout` or `stderr` froma Popen using PIPE results in error due to `tell()` calls in `get_next_chunk` method in `_upload.py`. The reason being these objects don't implement `seek` or `tell` as expected.

Another related observa

[2019-04-16 13:25] apatil4 opened #63 "Initiate Response failing due to no Location header in response"
I am trying to upload a file to a bucket in gcloud and I am getting an error below on uploading a file

`File "/opt/conda/lib/python3.6/site-packages/google/resumable_media/requests/upload.py", line 327, in initiate
    self._process_initiate_response(result)
  File "/opt/conda/lib/python3.6/site-packages/google/resumable_media/_upload.py", line 449, in _process_initiate_response
    response, u'l

[2019-04-16 16:10] busunkim96 commented on #63
Hi @apatil4, could you provide us with some code demonstrating this issue?

[2019-04-16 16:49] apatil4 commented on #63
Sure.
So this is how I initialize my client
[code]

So just pasting it till the `upload.initiate` since thats where it throws an error

[2019-04-17 12:39] apatil4 commented on #63
Just to add one more thing that may help, the upload is happening from a container managed by Kubernetes. I think this may be related to it. I tried to print the headers that I got and this is what I received.
[code]

[2019-04-19 02:03] apatil4 commented on #63
So I found the root cause of the issue. It was because the Nodes in the Kubernetes cluster (GKE) were not authorized (not the right oauth scope) to upload the gcloud storage even though the service account and the client has the permission to upload.
However, the error is kind of misleading and would have expected something like `invalid scope`.

[2019-04-24 00:44] EpicWink opened #64 "Dependency check on 'requests' raises dependency inconsistencies"
Currently, `google-resumable-media` depends on `requests>=2.18`. On import, the package [checks](https://github.com/googleapis/google-resumable-media-python/blob/34a36be0c53b7517bd3ddc2c281bdaaa5b9c4ef7/google/resumable_media/requests/__init__.py#L665) that this dependency is valid and met. This then checks that all dependencies down the chain are also valid and met.

The issue here is that then a

[2019-05-23 09:38] andyljones commented on #63
For anyone else who arrives here from Googling error messages, the scope you want is
[code]

[2019-05-24 11:25] Kryptonh4x0r commented on #59
I'm facing the same problem and i also tried to add the hook in  the hooks folder as said by you and also copied your code. if u found the solution please help me ! its still giving me the same error please help me

[2019-05-24 13:22] Kryptonh4x0r opened #65 "Pyinstaller reports that `requests` is not installed."
I used pyinstaller to convert my .py file to .exe, but as i try to execute the exe it throws the following error:

here's the code i used :

`pyinstaller` -F AdminPanel.py
i tried installing it using pip, but it says that its already installed.

Thanks in advance

[2019-05-29 21:22] tseaver opened #67 "System tests have bitrotted."
- [ ] Mangling `os.environ` in `tests/system/requests/test_download.py` is not 2.7-compatible. (PR #77)
- [ ] `tests/system/requests/test_download.test_corrupt_download` shows a mismash on the actual hash. (Issue #76, xfailed in PR #77)
- [ ] `test_chunked_download` is getting an all-in-one response (inital response has no `Location` header, payload in body). (Issue #56, xfailed in PR #77)
- ~~Def

[2019-05-29 21:24] tseaver commented on #65
@Kryptonh4x0r Can you point us to a (possibly sanitized) version of your `AdminPanel.py` script?

[2019-05-29 21:58] tseaver commented on #67
The failure in `test_corrupt_download` occurs only for the gzipped file, which likely indicates that the test is exercising #50.

[2019-06-25 06:39] bachirelkhoury commented on #61
I'm also looking for this.

I thought the purpose is to be able to reinitiate an upload from the initial **resumable_url** so we can continue uploading the next chunks without having to start over.

Is there any good example for this?

[2019-06-25 18:14] busunkim96 commented on #61
There isn't currently support for re-creating the `ResumableUpload` object from a `resumable_url`.
The intent is that you would keep the `ResumableUpload` object around and continue to upload chunks from it.

This is the sample that shows how to do resumable uploads:

https://googleapis.github.io/google-resumable-media-python/latest/google.resumable_media.requests.html#resumable-uploads

[2019-06-26 01:19] bachirelkhoury commented on #61
Oh... right. So I guess our case is beyond the scope of the application. Where we might have lost internet connection or had to even restart the entire server and thought we can resume the upload.

I found something close to what I'm looking for here if anyone is looking: https://medium.com/google-cloud/google-cloud-storage-signedurl-resumable-upload-with-curl-74f99e41f0a2

[2019-06-26 14:56] busunkim96 commented on #61
Looking at the library and product documentation on resumable uploads, I think it would be possible to add this as a new feature.

Documentation on resuming uploads with the resumable session uri:
* https://developers.google.com/drive/api/v3/manage-uploads#resume-upload
* https://developers.google.com/photos/library/guides/resumable-uploads#resume-upload
* https://cloud.google.com/storage/docs/jso

[2019-06-29 03:49] bachirelkhoury commented on #61
@busunkim96 thanks for that! I tried the restful APIs and it works well!

[2019-07-12 18:49] sumit-ql commented on #50
@andersgb
When we set the Content-Type image/png and Content-Encoding gzip, google cloud storage drops the Content-Encoding response header, and serves the resulting object.([#See](https://cloud.google.com/storage/docs/transcoding) - section : **Using gzip on compressed objects** )

Now, since we dont have content encoding header as gzip, #36 fix does not apply. (_add_decoder call returns the same

[2019-07-24 18:22] #55 closed

[2019-07-24 18:23] tseaver commented on #65
Please feel free to reopen if you can provide more information.

[2019-07-24 18:23] #65 closed

[2019-07-24 20:29] tseaver opened #76 "Systest Failure: 'test_corrupt_download'."
[code]

[2019-07-24 20:33] tseaver commented on #56
[code]

[2019-07-24 20:37] tseaver commented on #76
From https://github.com/googleapis/google-resumable-media-python/issues/67#issuecomment-497124088:

[2019-07-25 19:53] #67 closed

[2019-07-25 20:28] crwilcox commented on #56
Followup with some details:

If transfer-encoding is set, the spec dictates that "The Content-Length header field MUST NOT be sent if these two lengths are different (i.e., if a Transfer-Encoding header field is present)."
Because there's  Transfer-Encoding header set on that response. See RFC 2616 section 4.4, #3:

If a Content-Length header field (section 14.13) is present, its decimal value in

[2019-07-25 21:59] tseaver commented on #56
I can tweak the handling for that, but then we run up against the same underlying issue in our system test for the gzipped file:  instead of getting the file in chunks, we get it all in one blast, because `requests` handles the unzipping for us.  We may need to investigate using [`response.raw`](http://2.python-requests.org/en/master/user/quickstart/?highlight=gzip#raw-response-content).

[2019-07-25 23:18] busunkim96 opened #81 "Migrate CI to Kokoro"

[2019-07-26 19:18] tseaver commented on #58
The "correct" fix is not to re-wrap the exception at all.  As a secondary issue, we also need not to spell out the dependency pin in more than one location.  #83 tackles both of these issues.

[2019-07-26 19:20] zmunro commented on #34
This isn't fixed for me with google-resumanle-media 0.3.2 :(

[2019-07-26 19:36] tseaver commented on #34
@zmunro Can you provide more information?  E.g., is it broken for you just for gzipped content?

[2019-07-26 19:36] #58 closed

[2019-07-26 19:54] tseaver commented on #27
Via #77.

[2019-07-26 19:54] #27 closed

[2019-07-26 20:12] tseaver commented on #63
The [GCS docs for resumable uploads](https://cloud.google.com/storage/docs/json_api/v1/how-tos/resumable-upload#save-session-uri) state that the response to a successful initial request will have status code 200, and a `Location` header.

A quick sketch at a fix (raising the error based on the HTTP status code, rather than the missing `Location` header):

[code]

[2019-08-13 15:15] mf2199 commented on #56
@tseaver Very valid comments, and thanks for the reference. There's another [PR](https://github.com/googleapis/google-resumable-media-python/pull/85) for another OOSLO issue that engages `response.raw` and is pending code review.

[2019-08-26 09:21] shahanaz873 commented on #59
I am facing the same issue when I am running the exe, Please help me on how to avoid this issue, this is my code

def list_blobs(bucket_name):
    """Lists all the blobs in the bucket."""
    storage_client = storage.Client()
    blobs = storage_client.list_blobs(bucket_name)

    for blob in blobs:
        print(blob.name)

def download_blob(bucket_name, source_blob_name, destination_file_name):

[2019-08-26 10:41] shahanaz873 opened #92 "ImportError: ``requests >= 2.18.0`` is required by the ``google.resumable_media.requests`` subpackage. It can be installed via pip install google-resumable-media[requests]."
I used pyinstaller to convert my py file as exe, when I am running the exe its giving ImportError: ``requests >= 2.18.0`` is required by the ``google.resumable_media.requests`` subpackage.
It can be installed via
    pip install google-resumable-media[requests].

I have installed requests and google resumable media using pip

Python version - 3.7.3
pyinstaller version - 3.5

Below is my code which

[2019-08-26 11:04] shahanaz873 commented on #65
Hi @tseaver , I am facing same issue while running the exe, Below are my code details

Python version - 3.7.3
pyinstaller version - 3.5
google-resumable-media==0.3.2
requests==2.18.0

    def list_blobs(bucket_name):
    """Lists all the blobs in the bucket."""
    storage_client = storage.Client()
    blobs = storage_client.list_blobs(bucket_name)
    for blob in blobs:
    print(blob.name)

[2019-08-27 05:05] #92 closed

[2019-08-27 21:42] #56 closed, assigned to tseaver

[2019-08-29 14:33] anshulpatel25 commented on #60
Hey @tseaver

Only adding `{'x-goog-resumable': 'start'}` doesn't work, I also require to add `content-type` for it to work.

**Working**
[code]

**Not Working**

[code]

Thanks

[2019-08-29 16:01] tseaver commented on #60
@anshulpatel25 Thanks for the research!  Looks like #99 needs a different approach, as the `Content-Type` for the JSON API is required to be `'application/json; charset=UTF-8'` (the metadata is sent with the initiate request as JSON).

See the [XML API docs](https://cloud.google.com/storage/docs/xml-api/resumable-upload) for requirements:

- Empty body (no metadata).
- `Content-Length: 0` header.

[2019-09-17 16:28] crwilcox opened #106 "Reimplement changes undone by #103 (always use raw response data)"
Changes originally merged in #87 were undone in #103 in a way that can be opted in to to avoid breaking usage by users on older client library versions. Particularly GCS

[2019-09-17 16:50] crwilcox commented on #106
This issue over on GCS, https://github.com/googleapis/google-cloud-python/issues/9188, seems to point to us making it more clear when we are decompressing and what the encoding is.

[2019-09-18 18:28] tseaver commented on #106
See PR #87.  Note that redoing them is complicated by the fact that the code has since been blackened. :(

[2019-09-18 18:37] tseaver commented on #106
Plan:

- [ ] Restore partial fix for #56. (PR #107).
- [ ] Split out decoding vs. raw-only behavior into separate classes.

[2019-09-26 18:42] tseaver commented on #81
Via #90 and #102.

[2019-09-26 18:42] #81 closed

[2019-10-11 14:11] randolfo75 commented on #59
Same problem here, I already included the hook as said and it didn't solve the problem.

[2019-10-11 15:10] Kryptonh4x0r commented on #59
This is how i fixed the error :

Made a hook(python file) named it

and the content of it is as follow :

    from PyInstaller.utils.hooks import copy_metadata
    datas = copy_metadata('requests')

Then after just past this file to the hooks folder inside pyinstaller where all the other hooks are.

Hope it fixed the error for you.

[2019-10-11 18:57] randolfo75 commented on #59
Thank you very much @Kryptonh4x0r for trying to help, the file name I was using indeed was wrong, but nevertheless the problem stills. Notice that in my log the hook is processed but I am still receiving the error when run the exe.

(cap) D:\dev\code\deepstockwebcapture>pyinstaller --distpath D:\dev\install capture.spec --workpath D:\dev\install\build
62 INFO: PyInstaller: 3.5
63 INFO: Python: 3.7

[2019-10-28 16:14] #106 closed

[2019-11-13 23:15] tseaver opened #113 "Add 'response_callback' argument to 'consume' / 'consume_next_chunk' methods."
In support of https://github.com/googleapis/google-cloud-python/issues/9787.

Whether or not the implementation in `google-cloud-storage` exposes a callback argument, we need to provide it here, to allow either `Blob.download_*` or its callers access to the response headers.

[2019-12-05 01:50] harmony-ek commented on #28
2020 is on the horizon; could you share an update on this?

[2019-12-05 21:02] busunkim96 commented on #28
Thanks for checking in @harmony-ek.

We'll be dropping Python 2 support across our libraries towards the end of Q1 2020. We are also changing the generator that produces library code from [this](https://github.com/googleapis/gapic-generator/) to [https://github.com/googleapis/gapic-generator-python](https://github.com/googleapis/gapic-generator-python). We're aiming to keep the differences as mini

[2019-12-17 20:38] ondrejhlavacek opened #115 "BigQuery: 400 PUT: Unknown upload notification type: 5"
This error seems to happen randomly, running again with the same configuration usually succeeds. The CSV has around 10M rows / 1G compressed.

#### Environment details

**OS type and version**

`Linux 58900130398d 4.9.184-linuxkit googleapis/google-cloud-python#1 SMP Tue Jul 2 22:58:16 UTC 2019 x86_64 GNU/Linux`

**Python version and virtual environment information: `python --version`**

`Python 3

[2019-12-23 17:45] tswast commented on #115
This appears to be happening from the shared resumable media handling backend. I would expect similar errors to occur in Google Cloud Storage and other APIs that use it. Moving this issue to the resumable media repo for further investigation.

CC @tseaver or @plamut Could one of you investigate? I haven't worked much in this library.

[2020-01-08 16:27] plamut opened #117 "Unit test suite under Python 3.4 fails if run after other suites"
Running the default unit tests session:
[code]
results in an error when computing coverage:
<details>
<summary>traceback</summary>

[code]
</details>

The error does **not** occur if the `.coverage` file is removed and Python 3.4 tests are run in isolation:
[code]

It might very well be related to the fact that officially [pytest](https://pypi.org/project/pytest/) does not support Python 3.4.

A q

[2020-01-08 16:35] plamut commented on #7
I believe this issue can be closed, the `http_request` helper already accepts extra timeout arguments:

https://github.com/googleapis/google-resumable-media-python/blob/c0732e3da68649640ddf2573fa6dc214ea57e299/google/resumable_media/requests/_helpers.py#L101-L109

[2020-01-08 16:35] #7 closed

[2020-01-09 08:18] #117 closed

[2020-01-09 12:12] plamut commented on #115
@tswast I haven't worked much myself either, but if nobody can take it over, I'll try to find some time and investigate in the near future, since it's a P1.

[2020-01-09 19:29] nmatare commented on #115
+1 Seeing the same intermittent exception.

[2020-01-10 14:29] satels commented on #28
2020, lets do supporting asyncio

[2020-01-10 14:34] graingert commented on #28
Or, preferably anyio with httpx

[2020-01-10 14:55] alexpirine commented on #28
2020 has come and I'm alive, let's roll out asyncio support.

[2020-01-13 14:47] underyx commented on #28
@theacodes considering it's 2020, would you mind reopening this issue? 😇

[2020-01-13 17:30] busunkim96 commented on #28
Thank you all for the interest! I'll re-open this now for tracking purposes, and keep this issue updated as we develop more definite plans for asyncio this year.

[2020-01-13 17:32] graingert commented on #28
This library should support trio,curio and asyncio via anyio and httpx

[2020-01-14 18:33] tseaver commented on #115
Hmm, that error message is odd:  we don't send any "upload notification type" along to the server anywhere.  For each chunk of a resumable upload, the payload is the chunk bytes, and the headers sent along consist only of `Content-Type` and `Content-Range`.

[2020-01-14 18:34] shollyman commented on #115
There's a similar report against Ruby with roughly the same time range reported, which indicates there may have been issues around Dec 17-18.  Internal issue that may be related to this: 146493477

For @nmatare it would be great to have more details about the requests that are failing, since that particular error can mask multiple possible causes.  Is this still BigQuery in your case, or a differe

[2020-01-17 08:42] wilpoole commented on #115
+1 Seeing the same intermittent exception when using BigQuery client.load_table_from_json()

[2020-02-10 14:56] redraw commented on #28
any news? :)

[2020-02-23 12:29] sunandosamaddar opened #119 "resumable upload keeps retrying"
`google-resumable-media                 0.5.0`
Hi, these are my logs when I try to upload.
[code]

And this is the handler that's trying to upload.
[code]

[2020-02-25 19:23] tseaver commented on #119
@sunandosamaddar Can you please post where the import of the `retry` module is coming from?  It isn't part of this library.

[2020-02-25 19:25] tseaver opened #120 "Testing: drop majyk coverage number: `--cov-fail-under=99`"

[2020-02-25 20:04] tseaver opened #122 "Update docs for 0.5.0 release"
Several tweaks needed:

- `nox` is building docs by default and leaving the generated ones un-checked-in.  The diff shows updates from `0.4.5` -> `0.5.0`, and there are real features there.
- I'm not sure where the canonical location is for hosting them:  per the README, it would be on `https:?/googleapis.github.io/google-resumable-media-python/latest`, which doesn't seem right:  shouldn't it move

[2020-02-26 11:18] sunandosamaddar commented on #119
Hi, I have them like below.
[code]

[2020-02-26 17:26] #120 closed

[2020-03-14 09:27] #119 closed

[2020-03-19 07:31] sakshigupta3 opened #123 "AttributeError: 'mod_wsgi.Input' object has no attribute 'tell'"
I'm running the below versions of httpd, mod_wsgi and latest google-cloud-storage code

- httpd-2.4.41-12.fc31.x86_64
- python3-mod_wsgi-4.6.6-2.fc31.x86_64
-  python3.7

I'm getting the below traceback sometimes,  the issue is intermittent and that's why more confusing ( Like once in an hour ). We upgraded from python2.7 to python3.7, could this be a dependency issue ? Is so, why is it intermitte

[2020-03-19 13:19] sakshigupta3 commented on #123
I raised this issue in mod_wsgi repo and https://github.com/GrahamDumpleton/mod_wsgi/issues/545 the fix helped. FYI: We were running absolutely fine with python2.7.

[2020-03-24 16:13] busunkim96 commented on #123
@tseaver @crwilcox Could you take a look?

[2020-04-10 03:18] david-alexander-white commented on #34
I'm now getting this error today after months of no problems, on some gzipped files from GCS. Error seems to happen at random, i.e. can do the same thing and maybe 50% of the time it works, 50% of the time it crashes.

[2020-05-08 16:58] lisandromc opened #124 "Upload initiation fails due to asserting wrong HTTP status code"
Code in module _upload.py, line 453 of method `_process_initiate_response` reads:
[code]
However, initiating an upload against https://storage.googleapis.com yields a 201 Created response, so it fails to comply.

Fixing this is as simple as adding http_client.CREATED to line 455:
[code]

[2020-05-12 07:28] bastiaanb opened #128 "Blob.upload_from_file fails if 8MB < size-parameter < file-size"
#### Environment details

  - OS type and version: Linux Fedora 32 x86_64
  - Python version: Python 3.8.2
  - pip version: pip 20.1
  - `google-cloud-storage` version: 1.28.1

#### Steps to reproduce

  1. create a file larger than 8MB, e.g. 16MB
  2. upload to GCS with Blob.upload_from_file() with size parameter set to 12 MB.

#### Code example

[code]

#### Stack trace
[code]

[2020-05-13 20:49] frankyn commented on #124
Do you have bandwidth to take a look at making this fix?

[2020-05-13 20:50] frankyn commented on #124
Ah, thanks @lisandromc for sending a fix, I'll review.

[2020-05-26 15:23] #128 closed

[2020-06-03 23:02] failure-checker[bot] opened #133 "Warning: a recent release failed"
The release PR #131 is still in a pending state after several hours

[2020-06-22 09:00] IlyaFaer commented on #123
@busunkim96, @crwilcox, I've taken a look, it seems to be not a Resumable Media issue. `upload()` treats an uploaded object as a file-like instance, so it expects an uploaded object to support file methods, like `tell()`, `seek()`, etc.

The object caused the error is not a standard Python, nor Resumable Media object, it's a class from a [third-party package](https://github.com/GrahamDumpleton/mod

[2020-06-23 04:11] #123 closed

[2020-06-25 19:24] busunkim96 opened #137 "Move documentation to googleapis.dev"
#136

[2020-06-29 06:48] #45 closed

[2020-07-07 22:47] busunkim96 opened #138 "Release as production/stable"
This library is a a dependency of two GA libraries. GA libraries should only take dependencies on other GA libraries, so we should look into taking this to 1.0.0.

* https://github.com/googleapis/python-bigquery/blob/master/setup.py#L36
* https://github.com/googleapis/python-storage/blob/master/setup.py#L34

The release status is currently unclear as there is no [classifier](https://github.com/goo

[2020-07-23 15:58] meredithslota commented on #115
We haven't seen reports of this since January and are still missing some info from @nmatare - the internal bug doesn't have more info (seemed transient? but can't 100% tell?) so for lack of next steps, I'm tempted to close this out. If you have repro info or have seen this error since, please add details below. In the meantime, since it doesn't seem actually related to BigQuery but rather the resu

[2020-07-23 18:13] tseaver commented on #115
Please follow up / reopen if more information becomes available.

[2020-07-23 18:13] #115 closed

[2020-07-23 18:16] tseaver commented on #122
Subsumed by #137.

[2020-07-23 18:16] #122 closed

[2020-07-23 18:17] #133 closed

[2020-07-23 18:21] #124 closed

[2020-07-23 18:23] tseaver commented on #113
@william-silversmith has submitted a [PR to `python-storage`](https://github.com/googleapis/python-storage/pull/204) which makes the general-purpose callback strategy unneeded.

[2020-07-23 18:23] #113 closed

[2020-07-23 19:01] failure-checker[bot] opened #143 "Warning: a recent release failed"
The release PR #134 is still in a pending state after several hours

[2020-07-23 19:11] #143 closed

[2020-07-23 22:00] failure-checker[bot] opened #144 "Warning: a recent release failed"
The release PR #140 is still in a pending state after several hours

[2020-07-24 07:05] plamut commented on #137
The linked PR has been merged. I suppose this can now be closed?

[2020-07-24 17:31] tseaver commented on #144
@busunkim96 I'm not sure why the bot thinks #140 is in a pending state.  I did remove its branch just now, but the PR was merged at 18:28 GMT yesterday, three and a half hours before the bot created this issue.

[2020-07-25 02:07] busunkim96 commented on #144
The release job is supposed to come back and flip the label from `autorelease: tagged` -> `autorelease: published`, but it can't at the moment (this should be resolved in the next few weeks).

If you know the release succeeded please switch the PR label to `autorelease: published` and close the issue opened by the bot.

[2020-07-25 02:07] #144 closed

[2020-07-25 03:01] failure-checker[bot] opened #146 "Warning: a recent release failed"
The release PR #134 is still in a pending state after several hours

[2020-07-26 03:39] romil93 opened #147 "Support cancelling a Resumable Upload"
Support for this API https://cloud.google.com/storage/docs/performing-resumable-uploads#cancel-upload in https://github.com/googleapis/google-resumable-media-python/blob/master/google/resumable_media/requests/upload.py#L152 would be a good addition.

[2020-07-27 16:08] richardo-ps opened #148 "RuntimeError: consume() got an unexpected keyword argument 'timeout'"
Release 0.7.0 is broken and needs to be rolled back to 0.6.0.

[code]

Temporary fix:

[code]

[2020-07-27 16:35] frankyn commented on #146
Removed autorelease: tagged and added autorelease: published to PR. Still pending internal permissions fix to stop these warnings from being surfaced.

[2020-07-27 16:35] #146 closed

[2020-07-27 19:15] busunkim96 commented on #148
@crwilcox @frankyn Could you take a look?

[2020-07-27 19:33] busunkim96 commented on #148
@richardo-ps Can you provide a more detailed stack trace?

[2020-07-27 20:17] richardo-ps commented on #148
[code]

[2020-07-27 22:50] frankyn commented on #148
Hi @richardo-ps, thanks for the additional information.

I tried to reproduce the error you're seeing but haven't been successful.

Could you try the following:

1. `pip install virtualenv`
1. `virtualenv repro_env`
1. `source repro_env/bin/activate`
1. `pip install google-resumable-media==0.7.0`
1. `pip install google-cloud-storage=1.30.0`
1. Run your example code.

In your follow-up post could y

[2020-07-28 19:54] #137 closed

[2020-07-28 22:15] tseaver opened #150 "Testing: harden systest teardowns against 429 / 409 responses."
From [this Kokoro run](https://source.cloud.google.com/results/invocations/9c4b8536-e957-4b3e-896e-98b9850e7754/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fgoogle-resumable-media-python%2Fpresubmit%2Fpresubmit/log):

[code]

[2020-08-04 11:23] txomon opened #154 "Except with error messages returned from the API"
**Is your feature request related to a problem? Please describe.**

Currently the implementation will raise an exception if the answer is not 200. https://github.com/googleapis/google-resumable-media-python/blob/master/google/resumable_media/_helpers.py#L70-L98

The current implementation is terrible for development / problem triaging in production systems because it shadows the real problem makin

[2020-08-04 18:24] tseaver commented on #148
Please feel free to follow up / reopen if more information becomes available.

[2020-08-04 18:24] #148 closed

[2020-08-05 17:26] #150 closed

[2020-08-06 21:01] failure-checker[bot] opened #161 "Warning: a recent release failed"
The release PR #157 is still in a pending state after several hours

[2020-08-12 04:19] #161 closed

[2020-08-17 21:27] retnikt opened #165 "Allow passing files not at beginning to 'Blob.upload_from_file'"
# Environment details

Ubuntu, Python 3.7, Google Cloud Storage 1.23.0

# Steps to reproduce

  1. Create a Blob
  2. Use `blob.upload_from_file(fp)` where `fp` is not at the beginning of the stream (i.e. it has been sought)

# Code example

[code]

# Traceback
[code]

# Description
I cannot see any reason why there is the check `if stream.tell() != 0`. It seems to serve only to frustrate users tr

[2020-08-24 21:40] #138 closed

[2020-08-29 12:17] yoshi-automation opened #167 "Synthesis failed for google-resumable-media-python"
Hello! Autosynth couldn't regenerate google-resumable-media-python. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/eb3751c4-28ee-40c9-be70-bab603e36a5d/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-08-30 12:17] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/0cdb8bf2-937b-4824-874b-7cb707d943f4/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-08-31 12:12] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/62315112-900b-4eef-8d49-c6c399a38931/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-01 12:12] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/ec802b0e-f578-4046-9f8e-909fd85c8658/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-02 12:13] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/f4bca394-1c62-4452-b69d-699b51e0bdf7/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-03 12:17] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/b8e5112c-3774-4b12-81b9-e691b2c52110/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-04 12:17] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/81fde0ed-dbce-460b-b114-ad0fb8796a90/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-05 12:17] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/61e7f123-4bf9-4176-a25d-75d07da372eb/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-06 12:17] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/05f5f38a-a10a-4623-9963-ba766645d417/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-07 12:17] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/60669ff0-673a-4932-ac4b-a4dd666115cc/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-08 12:17] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/ed4eb6af-a475-4d3c-b359-9abf2e8dffea/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-08 22:09] mcsimps2 opened #169 "Allow space in-between checksums in response headers"
**Summary:** I encountered this bug when downloading files using the Google Cloud Storage Python libraries, but the bug is coming from the Resumable Media library.  The current code (and [official docs](https://cloud.google.com/storage/docs/xml-api/reference-headers#xgooghash)) assumes the checksum headers will be contiguous without whitespace:
[code]
However, I'm actually getting responses with w

[2020-09-09 12:17] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/6119a864-2de4-4996-b2e7-89215093ff0a/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-10 12:17] yoshi-automation commented on #167
Autosynth is still having trouble generating google-resumable-media-python. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/f682beb7-6c7c-4fc2-8bbd-d95360cbd659/targets/github%2Fsynthtool;config=default/tests;query=google-resumable-media-python;failed=false).

[2020-09-10 17:46] #169 closed

[2020-09-10 19:11] SurferJeffAtGoogle commented on #167
It's failing because there is an existing "chore: start tracking obsolete files" pull request, and it's trying to create another one.  I'll add code to detect this case.

[2020-09-10 19:24] JustinBeckwith commented on #167
This isn't a customer facing failure, and it's being looked at, so I downgraded to a P2

[2020-09-11 12:18] yoshi-automation commented on #167
Autosynth passed, closing! :green_heart:

[2020-09-11 12:18] #167 closed

[2020-09-29 19:12] crwilcox opened #177 "Move _async_resumable_media to public surface"
`_async_resumable_media` should be moved to `async_resumable_media` once 'hardened'

[2020-09-29 20:05] crwilcox opened #180 "Explicit dependency on google-auth"
It seems we don't currently have an explicit dependency on google-auth, though testing requires it. I reverted a change I made as part of async work, but am making this issue to consider further discussion on this. I am guessing we have a use or resumable media that isn't using google-auth?

https://github.com/googleapis/google-resumable-media-python/pull/179/commits/ccf46a9cc66706a40f30cfab80fc44

[2020-09-29 20:41] crwilcox commented on #180
To be clear, I can't find a non-transitive use, but it is basically required as part of credentialing. This may not be an error at all, but wanted to raise it as a point of discussion in case anyone had opinions.

[2020-10-05 17:13] crwilcox opened #181 "Reduce duplication for tests suite files"
As part of #179 it was raised that we may have opportunity to refactor some of our resources a bit to avoid duplication. For instance, `tests_async/system/credentials.json.enc` could likely be shared with sync.

[2020-10-05 22:01] failure-checker[bot] opened #183 "Warning: a recent release failed"
The release PR #182 is still in a pending state after several hours

[2020-10-22 19:01] tseaver commented on #183
https://github.com/googleapis/google-resumable-media-python/releases/tag/v1.1.0

https://pypi.org/project/google-resumable-media/1.1.0/

[2020-10-22 19:01] #183 closed

[2020-10-22 19:02] tseaver opened #184 "Tests broken on master"
[code]

[2020-10-22 19:40] #184 closed

[2020-12-10 20:26] tseaver opened #189 "Add Python 3.9 support"

[2020-12-14 17:41] #189 closed

[2021-01-21 13:12] forking-renovate[bot] opened #198 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:03] #198 closed

[2021-03-03 18:39] cloudryder opened #204 "Python SDK unable to download file due to checksum mismatch"
Object download failed complaining about checksum mismatch. Downloading the object through gsutils works fine.

[code]

The Code itself is pretty straight forward:
[code]

The file size is 2.3TB if that matters.

Following are the plugin versions
[code]

I'm able to reproduce this issue for this file. I had downloaded several hundred objects with the same SDK. Not sure why its failing on this file

[2021-03-03 19:45] andrewsg commented on #204
Thanks for this report. Since it's reproducible, do you mind performing an experiment to see if the other checksum type also disagrees? You can change the checksum type with checksum="crc32c" or checksum=None. If you select checksum="crc32c" at download time, does that also fail?

[2021-03-04 00:33] andrewsg commented on #204
Also, could you please download the entire file with checksum=None (not with gsutil) and run md5sum on the command line, and see if you get the lAhl... checksum (server-reported) or the 61Kz... checksum (client-reported).

I'll be presumably unable to reproduce on my side until we know more about where the error lies, assuming the file in question is not public.

[2021-03-04 21:04] cloudryder commented on #204
I was able to download it with CRC32. The md5sum of the file downloaded through `gsutil` and Python SDK with CRC32 Checksum match.
[code]

[2021-03-05 19:04] andrewsg commented on #204
Thanks, that's very helpful. The md5sum hash starting with 9408... corresponds to the base64-encoded hash `lAhluFgTEwcNJDvTSap2fQ==`, which implies the server hash is correct and the computed hash is incorrect. That said, it is still quite a mystery, given that the crc32c checksum strategy worked without a hitch.

How many times have you reproduced this problem with checksum=md5? You have a 100% s

[2021-03-05 19:30] cloudryder commented on #204
The python-storage download failed twice. I tried CRC32 and gsutil only once and they both succeeded. Would you like me to run any of them more times? Its a 2.3T object, so it takes a while to download each time :)
    On Friday, March 5, 2021, 02:04:56 PM EST, Andrew Gorcester <notifications@github.com> wrote:

Thanks, that's very helpful. The md5sum hash starting with 9408... corresponds to the

[2021-03-05 22:04] andrewsg commented on #204
You received the same erroneous MD5 sum in the error message in both tries? That is quite surprising.

Based on what we know now I can try to look through our code for possible issues. I'll let you know if I need more info. Thanks!

[2021-03-05 22:55] cloudryder commented on #204
Yes, exact same error and the md5sum displayed in both error messages are same too. Another piece of information is, this is one of the several objects in the bucket that were transferred from S3 to GCS, using GCP Transfer Service. I was downloading about 1% of Random objects from both S3 and GCS and comparing their checksums(md5 and sha256) using python to make sure that the data was still intact

[2021-03-06 01:10] andrewsg commented on #204
I'm still investigating but haven't been able to reproduce anything similar yet, so I have some further questions. Thanks for all of your patience so far.

Is this file larger than any other file you tested successfully? Or have you tested even larger files with checksum=md5 on the Python SDK and not had issues?

Could you share any non-private info in the object's metadata, as seen with `gsutil l

[2021-03-08 22:28] cloudryder commented on #204
I sent you the Metadata of the object through email. I continued running the checksum script and I hit one more file. What kind of details would you like on that file? This file is 2.4TB.

[2021-03-08 22:57] andrewsg commented on #204
Thanks, I got your email re: the metadata. You're saying you've found another large file that trips the md5sum check, just like the first one? Interesting! Do you have any other files over 2TB that work properly, without any checksum issues?

[2021-03-09 16:50] cloudryder commented on #204
Thats right, one other object that trips the md5sum check. Also, I found one object that is 2.53T and downloaded successfully.

[2021-03-10 01:30] cloudryder commented on #204
Thanks Andrew, I emailed you the object that failed as the 2.53T object that succeeded.
    On Tuesday, March 9, 2021, 05:14:31 PM EST, Andrew Gorcester <notifications@github.com> wrote:

Thanks. Assuming your objects are not available to be shared with Google engineers, we'll have to try to reproduce the issue with some artificially created similarly-sized test objects. It's unfortunate that you

[2021-03-30 06:12] Thirunayan22 commented on #165
Thank you

[2021-03-30 16:23] andrewsg commented on #204
The investigation is ongoing and I have some outstanding requests to Storage engineering; will update here when we know more. Thanks for all of the info you've provided so far.

[2021-04-15 19:33] kaleb-utilityapi opened #209 "Maximum chunk size for ResumableUpload?"
I was looking at the documentation regarding chunk size for [ResumableUpload](https://github.com/googleapis/google-resumable-media-python/blob/master/google/resumable_media/requests/upload.py#L153) because I'm seeing some poor upload performance (< 25 Mb/s upload speeds) on a 5 Gb/s interface.

I notice in the examples that the chunk sizes are all 3 MB, but we're using much larger chunks (100 MB).

[2021-04-16 16:25] BenWhitehead commented on #209
/cc @cojenco

[2021-04-30 10:43] HamnahMalik opened #213 "Socket timeout"
I am using Resumable upload to upload my hdf file of size around 6-7 GB on GCP Bucket. An d when it50% to 60%  chunks are uploaded I receive the socket timeout error.  Following is the exact error: Code file is attached:
[UploadDataset.docx](https://github.com/googleapis/google-resumable-media-python/files/6404737/UploadDataset.docx)

Traceback (most recent call last):
  File "/Library/Frameworks/

[2021-04-30 23:05] frankyn commented on #213
Hi @HamnahMalik, thanks for filing the issue!

Could you please share the code inline within your comment?

[2021-05-01 00:52] dandhlee opened #214 "test failure on system-3.8 test"
Hey folks, I'm noticing a test failure that's preventing PRs to be submitted. Here's the relevant stack trace (I think)

[code]

Please help! Thank you 😄

[2021-05-01 19:16] HamnahMalik commented on #213
Yeah sure:

try:
    from google.cloud import storage
    import google.cloud.storage
    import json
    import os
    import sys
    import io
    from io import BytesIO
    import google.resumable_media
    from google.resumable_media.requests import ResumableUpload
    import google.auth
    import google.auth.transport.requests as tr_requests
    from json import JSONEncoder
    import json

[2021-05-05 04:51] cojenco commented on #213
Hi @HamnahMalik , thanks for sharing your code within the comments! Could you let us know more about your internet connection and the environment you’re running in?

The timeout argument can be passed as a tuple (connect_timeout, read_timeout). Currently the default read timeout is 60 seconds. While we were unable to reproduce this on our side, the read_timeout can be altered and is working as exp

[2021-05-05 23:36] cojenco commented on #214
Hi @dandhlee! Thanks for filing this. We're looking into it.

[2021-05-10 23:56] cojenco commented on #214
This is due to an [issue in the pytest-asyncio package](https://github.com/pytest-dev/pytest-asyncio/issues/209). Thanks to @crwilcox for pair debugging. Submitting a fix to unblock PR submissions. Opening another issue to track the pytest-asyncio issue.

[2021-05-11 00:18] cojenco opened #219 "Explicit version range needed for dependency pytest-asyncio?"
[System test failure](https://github.com/googleapis/google-resumable-media-python/issues/214) was due to a pytest-asyncio package issue, in which the loop cleanup changes were causing test errors. To unblock PR submissions, a [fix](https://github.com/googleapis/google-resumable-media-python/pull/218) is submitted to pin pytest-asyncio to previous working version. Follow up with dependency change a

[2021-05-11 01:03] #214 closed

[2021-05-14 20:49] cojenco commented on #213
@HamnahMalik, please reopen if you're still facing this issue.

[2021-05-14 20:49] #213 closed

[2021-06-15 00:50] dandhlee opened #223 "Noxfile is not updated with Sphinx version pin"
`noxfile.py` is not updated with Sphinx version pin, please help take a look!

[2021-06-15 01:16] parthea commented on #223
This repo is not using the templated version of `noxfile.py` so I've opened a PR just to set the `sphinx` version to `4.0.1`

[2021-06-15 01:22] dandhlee commented on #223
Sounds good, I'll leave a note to look after this repo manually for now.

[2021-06-15 02:36] #223 closed

[2021-06-15 07:00] gcf-owl-bot[bot] opened #225 "Invalid .github/.OwlBot.lock.yaml"
`owl-bot` will not be able to update this repo until '.github/.OwlBot.lock.yaml' is fixed.

Please fix this as soon as possible so that your repository will not go stale.

[2021-06-15 07:00] gcf-owl-bot[bot] opened #226 "Invalid .github/.OwlBot.yaml"
`owl-bot` will not be able to update this repo until '.github/.OwlBot.yaml' is fixed.

Please fix this as soon as possible so that your repository will not go stale.

[2021-06-16 16:20] tseaver opened #228 "Drop Python 2.7 support"
This would be semver major.

We should verify that clients which cannot move already pin google.resumable-media < 2.0.0dev directly, or transitively.

Extra cleanups:

- ~~Drop `mock` wrapper (use `from unittest import mock` directly).~~ We cannot drop `mock` because Python 3.6 / 3.7 do not have `unittest.mock.AsyncMock` in the stdlib.
- [x] Drop `six`.
- [x] Drop `u"` prefixes for text strings.

[2021-06-16 19:38] #225 closed

[2021-06-16 19:38] #226 closed

[2021-06-25 23:41] cojenco opened #233 "Header parsing should be checking for string type header values"
As documented [here](https://github.com/googleapis/google-resumable-media-python/blob/73080754bf435b49784c67a2363a7b0614222a22/google/resumable_media/_helpers.py#L53-L54), an HTTP response object `headers` attribute is a ``Mapping[str, str]`

[`_helpers._parse_checksum_header`](https://github.com/googleapis/google-resumable-media-python/blob/73080754bf435b49784c67a2363a7b0614222a22/google/resumabl

[2021-06-30 16:17] tseaver commented on #233
I'm not sure I buy the argument here:  Are we actually expecting the GCS back-end to return a header like `x-goog-hash: None`?  The [docs for the `x-goog-hash` header] state:

Which would seem to imply that the response header value is *always* going to have at least the `crc32c` member.

[2021-07-01 19:11] cojenco commented on #233
That makes sense! Thanks for pointing it out. I was confused by the simulated response from the storage emulator. I'll close this issue and make changes to the emulator so it fits this behavior.

[2021-07-01 19:11] #233 closed

[2021-07-08 18:13] andrewsg commented on #204
Are you still experiencing this issue? Despite some significant stress tests on our side, checksum issues seem very rare for us.

[2021-07-12 15:35] cloudryder commented on #204
We're done with the Project we were working on and not doing mass downloads with Python API Anymore.
    On Thursday, July 8, 2021, 02:14:00 PM EDT, Andrew Gorcester ***@***.***> wrote:

Are you still experiencing this issue? Despite some significant stress tests on our side, checksum issues seem very rare for us.

—
You are receiving this because you authored the thread.
Reply to this email direc

[2021-07-15 15:08] KevinTydlacka opened #238 "Uploads Using Python Google Cloud Storage/Bigquery Client Libraries are Very Slow"
This was originally opened as a [Stackoverflow question](https://www.google.com/url?q=https://stackoverflow.com/questions/67911070/uploads-using-python-google-cloud-storage-bigquery-client-libraries-are-very-slo&sa=D&usg=AFQjCNHccmSK_GZGvB4TcSo830oWoUNZKA), then reported as a [Bug](https://issuetracker.google.com/issues/191375140) through the IssueTracker site, but neither have gotten any traction

[2021-07-15 21:21] tswast commented on #238
Thanks for the report. I'm not sure what `bq load` is doing differently from the Python client, so maybe that gives an area to look for improvement.

Upload code path is actually shared across the BQ and Storage clients, so I've moved this issue to that shared package.

[2021-07-15 21:26] tswast commented on #238
I looked at the source to `bigquery_client.py` (the bq CLI tool). It's using https://github.com/googleapis/google-api-python-client/blob/11d78e0fe9290d1a8c516a0e2f2e019dbd1877f9/googleapiclient/http.py#L552 rather than this resumable media package, so maybe there are some performance gaining lessons that can be derived from that?

[2021-07-15 21:46] tseaver commented on #238
Coul `gsutil` actually be breaking the file apart into chunks, uploading them separately in parallel, and composing them together when done?

[2021-07-16 14:25] jimfulton commented on #238
It can, but doesn't by default.

[2021-07-16 17:32] jimfulton commented on #238
Here's an update. I decided to start with google-cloud-storage and gsutil, since they are lower-level.

I ran the `generate_csv` function to generate  895MB CSV file.

Uploading this with gsutil and the storage Python client (GCS) took the same time, ~16s.

I also created a 3G randomly-generated CSV.  Uploading with gsutils tool about 168s and with GCS ~150s.

I ran tests on a compute-engine insta

[2021-07-16 19:40] jimfulton commented on #238
I'm not finding a significant difference in uploading `test_table_data.csv` (895MB) between `bq` and the bigquery client library.

Here are some times:
`bq`: 1m21.745s, 2m5.444s
BigQuery Python library: 3m9s, 2m39s, 2m:55s

The library is is a bit slower.  It's using a small (1MB) chunk size.  Increasing that to 100MB gives times: 1m52s, 1m42s.

[2021-07-16 19:58] jimfulton commented on #238
@KevinTydlacka your script has:

`generate_csv()  # Run first time then reuse`

But I don't see it being reused.  Could your times be including that?  Generating the file takes a long time.

I adapted your script slightly:
- I separated file generation into a separate script that I ran once.
- I'm running on a bare tiny compute-engine instance.
- I'm using Python  3.6.14
- I'm setting up creds via

[2021-07-16 20:13] jimfulton commented on #238
My test script: https://gist.github.com/jimfulton/d20ceba7ed1da6051e96910c12470795

[2021-07-16 21:34] KevinTydlacka commented on #238
Hmm no I comment that out/delete it and just reuse the same generated file after it is created on the first run.

Since it was quick I just tested against Python 3.9.6 and am seeing the same (slow) behavior. It seems odd that it would be a credentialing issue. I will try it out on a little Compute Engine instance again and see if I can get you more info.

It's worth noting that whoever responded t

[2021-07-16 22:35] KevinTydlacka commented on #238
OK @jimfulton I tried to duplicate your setup and am seeing the same (originally reported/slow) behavior. Details:

Made a new Compute Engine e2-micro instance in us-central-1a with the following specs:
![image](https://user-images.githubusercontent.com/7737664/126013936-a8e4412c-370a-47bb-a7b0-194e516041f3.png)

Set `GOOGLE_APPLICATION_CREDENTIALS` env variable to point to the `.json` credentials

[2021-07-17 01:22] andrewsg opened #239 "Timeout argument does not detect connection hangs past the first byte"
As per the underlying requests and urllib3 implementation, the "timeout" argument does not take effect in the case that the connection starts receiving data but then stops midway without resulting in a closed connection.

Using a 16-core GCE VM and multiple processes, I reproduced this issue and observed an indefinite hang of the process (at least several hours) once in about 1,000,000 downloads w

[2021-07-17 01:25] andrewsg opened #240 "Exception retries do not cover mid-stream errors which occur during downloads."
Retry functionality in the library only covers the initial response. While this is the most common point of failure, some errors, especially Connection Reset by Peer (which usually boils down to requests.ChunkedEncodingError), escape the retry clause because they only appear during the actual streaming/writing to file period. We will need to adjust our control flow so that retry covers both the in

[2021-07-21 14:31] jimfulton commented on #238
Sorry, just saw this. I'll try reproducing *your* setup. :)

[2021-07-22 13:08] jimfulton commented on #238
I tried to reproduce this. I created an e2-micro instance in us-central-1a using a ubuntu-minimal-1804-bionic-v20210720 image (the only 18.04 image I saw). `bq` reports "This is BigQuery CLI 2.0.70".

The `bq load` command I'm using:

[code]

The timing:

[code]
It appears to be taking ~17s to transmit the data and 48s to process.  The overall time is ~65s (as low as 63 on other runs).

That's muc

[2021-07-22 13:16] jimfulton commented on #238
They said:

Their times are in line with what I'm seeing. The library is taking about 127s and the total `bq` time is 59s (11s + 48s).  (They aren't showing wall time for the `bq` run, so it's a little hard to compare with my wall time for the total.)

Comparing *just* upload time with the library time doesn't make a lot of sense, because the library time includes upload and processing.

[2021-07-22 15:58] jimfulton commented on #238
I verified that `bq` uses a chunk size of 100MB.  Upping the library's chuck size to 100MB makes the total times for the library and `bq` the same.

Note that total time, including processing time, can vary quite a bit for both `bq` and the library, because processing time can vary a lot depending on the computing resources allocated to the job. That makes measurement tricky. :)

In any case, we'l

[2021-07-22 18:36] #238 closed

[2021-07-27 23:59] #240 closed

[2021-08-02 18:51] #228 closed

[2021-08-24 23:59] cojenco opened #256 "Retries are not checked correctly in the helper method"
The `RetryStrategy` object configures retries in the library. We can check if another retry is allowed using [`RetryStrategy.retry_allowed()`](https://github.com/googleapis/google-resumable-media-python/blob/a7ae87272f51ad6b6b5f7cdfb5b61c5bfa3956bf/google/resumable_media/common.py#L157).

[`_helpers.wait_and_retry()`](https://github.com/googleapis/google-resumable-media-python/blob/a7ae87272f51ad6

[2021-08-25 04:38] forking-renovate[bot] opened #257 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Edited/Blocked

These updates have been manually edited so Renovate will no longer make changes. To discard all commits and start over, click on a checkbox.

 - [ ] [chore(deps): update dependency distlib to v0.3.6](../pull/352)

[2021-08-26 00:11] cojenco opened #259 "Revise making upload download instances invalid"
`ResumableUpload` and `ChunkedDownload` both have a boolean property `invalid`, which indicates whether or not the instance is invalid. This helps alert users early that the instance is invalid for further transmit requests. Currently, an instance is marked as invalid
- if the status code is not acceptable (require_status_code)
- if no byte range is in headers (header required)
- if there is a byt

[2021-08-30 18:25] #256 closed

[2021-09-02 00:49] danielduhh commented on #240
@cojenco is this fixed?

[2021-09-09 23:15] andrewsg commented on #209
Hi, sorry this question slipped through the cracks for so long. The request size limit discussed is a specific limit for some Google App Engine requests. It is not related to Google Cloud Storage or resumable media through this library, even if Storage is accessed from a Google App Engine instance. If you are experiencing slow upload speeds, I don't think I can clearly attribute that to any partic

[2021-09-09 23:15] #209 closed

[2021-09-10 21:43] cojenco commented on #259
Fixed with #261

[2021-09-10 21:43] #259 closed

[2021-09-10 21:47] cojenco opened #271 "Retryable codes missing 408 Request Timeout"
HTTP status code 408's [Request Timeout ](https://cloud.google.com/storage/docs/json_api/v1/status-codes#408_Request_Timeout)can be handled with exponential backoff and is retryable. `http.client.REQUEST_TIMEOUT` should be included in retryable codes.

[2021-09-13 20:02] #271 closed

[2021-10-01 20:01] failure-checker[bot] opened #277 "Warning: a recent release failed"
The following release PRs may have failed:

* #182

[2021-10-01 21:32] cojenco commented on #277
Release is at https://github.com/googleapis/google-resumable-media-python/releases/tag/v1.1.0
https://pypi.org/project/google-resumable-media/1.1.0/

[2021-10-01 21:32] #277 closed

[2021-10-26 17:57] fboismenu opened #284 "Stream reset on retry"
Hello there,

I am using the library, indirectly via python-storage, in maybe an unorthodox way: I am trying to implement a download timeout via a custom http adapter and response.
So my response object is throwing pro-actively timeouts (common.InvalidResponse with http.client.REQUEST_TIMEOUT),
which is forcibly triggering the retry logic in the Download class:
https://github.com/googleapis/google

[2021-11-02 20:50] fboismenu commented on #147
👍

[2021-12-08 21:42] williambrode opened #289 "Using a signed Resumable Upload URL fails with 403 unless content_type is empty"
#### Environment details

  - Programming language: Python
  - OS: Ubuntu 20.04 in WSL2
  - Language runtime version: 3.8
  - Package version: cee416449701b72e7fd532585a1f739b02b6ab32

#### Steps to reproduce

  1. Generate a signed resumable upload url:
[code]
  2. Run this python program, passing in the upload_url that was generated:
[code]

You will get a 403 error from google that says `The re

[2021-12-23 19:30] #289 closed

[2022-02-05 02:10] williambrode commented on #289
@tseaver Any chance we could cut a release so I can switch back to the community version?  Trying to do commit shas with pip is giving us headaches!

[2022-02-05 16:57] tseaver commented on #289
@williambrode I'm not a maintainer here any longer.  @andrewsg or @cojenco could likely push out a release, though.

[2022-02-07 17:34] cojenco commented on #289
@williambrode We just cut a new release v2.2.0 this morning. Thanks for your patience!

[2022-02-08 16:19] tswast opened #296 "User-Agent is overridden even when manually set by "upper" library"
BigQuery already sets a user-agent: https://github.com/googleapis/python-bigquery/blob/8712b6f4f6c91b0f5aca3de98efe81deb2c7262f/google/cloud/bigquery/client.py#L4129

IIRC, this is mostly so that we can use a consistent user-agent with the rest of the client library (partner requests need attribution, for example)

https://github.com/googleapis/google-resumable-media-python/pull/295 is causing tes

[2022-02-08 21:53] #296 closed

[2022-02-09 23:01] failure-checker[bot] opened #302 "Warning: a recent release failed"
The following release PRs may have failed:

* #299

[2022-02-11 00:50] cojenco opened #303 "Handle retries in decompressive transcoding downloads"
Add special handling for resuming an interrupted download in which transcoding occured

Pending on internal issue b/218894651 and b/218348047

[2022-02-11 19:00] #284 closed

[2022-02-12 20:01] #302 closed

[2022-02-23 22:01] failure-checker[bot] opened #305 "Warning: a recent release failed"
The following release PRs may have failed:

* #299

[2022-03-01 20:02] #305 closed

[2022-03-09 00:01] failure-checker[bot] opened #317 "Warning: a recent release failed"
The following release PRs may have failed:

* #316

[2022-03-09 00:50] cojenco commented on #317
Released at -
https://pypi.org/project/google-resumable-media/2.3.2/
https://github.com/googleapis/google-resumable-media-python/releases/tag/v2.3.2

[2022-03-09 00:50] #317 closed

[2022-03-10 22:38] cojenco opened #318 "Retry client side requests timeout"
Add client-side `requests.exceptions.Timeout` as retryable errors

Part of https://github.com/googleapis/python-storage/issues/726 and https://github.com/googleapis/python-storage/pull/727

[2022-03-17 08:56] seifertm commented on #219
Hi, pytest-asyncio maintainer here.

Sorry that you experienced issues with pytest-asyncio v0.15. A lot has happened since then and pytest-asyncio is now at v0.18.2. I encourage you to try the latest version. Any feedback would be appreciated!

[2022-03-23 21:12] #318 closed

[2022-04-14 07:15] AshleyT3 opened #324 "After retry limit reached, ResumableUpload.transmit_next_chunk propagates exception with invalid==False"
The code below with comments probably best describes the issue... it shows two workarounds. A third workaround (not shown) might be to look for a retry timeout exception and assume the ResumableUpload is invalid despite it being in a recoverable state in my various tests. I'm wondering if a call to _make_invalid upon final retry limit reached is reasonable, or perhaps documenting implied invalidit

[2022-04-14 22:45] cojenco commented on #324
Hi @AshleyT3 thanks for raising the question. Could you share the exception you see in this scenario? Also if you could share how you've been reproducing this would be very helpful :)

As you mentioned, exhausting retries hasn't been considered equivalent to an invalid state, and that's probably one of the reasons why we didn't mark an upload invalid when reaching retry limits. I will work with my

[2022-04-15 04:21] AshleyT3 commented on #324
The following is an example, some text removed for brevity... basically the exceptions were the last ConnectionError wrapping (via args) MaxRetryError of the last internal operation before the ResumableUpload instance detects that the retry limit has been reached:

<pre>
ex
ConnectionError(MaxRetryError("HTTPSConnectionPool(host='www.googleapis.com', port=443): Max retries exceeded with url ... ")

[2022-04-17 23:39] adriangb commented on #28
Hi from 2022. Python 2 has been EOL for years. Uploading files is probably the best bang for the buck out there for async Python.

[2022-05-19 14:06] major opened #328 "Use unittest.mock if available rather than deprecated mock module"
#### Environment details

  - OS type and version: Fedora 36
  - Python version: 3.10.4
  - pip version: 22.0.4
  - `google-resumable-media` version: main branch

#### Steps to reproduce

  1. Run tests on Python 3.10 without `mock` installed
  2. Test fail due to `mock` import

I'll open a PR to fix in a moment.

[2022-05-24 22:24] #328 closed

[2022-07-14 03:29] dandhlee opened #340 "tests failing due to doctest using sphinx v5"
There's a lot of breaking changes in Sphinx v5, which the `doctest` nox test tries to make use of as it's not bounded by a specific version. This is blocking all PRs in this repository.

[2022-07-14 16:16] DavidKorczynski opened #342 "Continuous fuzzing integration with Google OSS-Fuzz"
Hi,

I was wondering if you would like to integrate continuous fuzzing by way of OSS-Fuzz? Fuzzing is a way to automate test-case generation and has been heavily used for memory unsafe languages. Recently efforts have been put into fuzzing memory safe languages and Python is one of the languages where it would be great to use fuzzing.

In this https://github.com/google/oss-fuzz/pull/8011 I did an

[2022-07-14 19:14] #340 closed

[2022-07-19 16:53] #324 closed

[2022-08-09 19:16] andrewsg commented on #342
Hi David, go ahead and use the same info as for https://github.com/googleapis/python-storage/issues/828 for this one. Thank you.

[2022-08-09 19:16] #342 closed

[2022-08-26 19:14] #257 closed

[2022-09-21 16:06] #303 closed

[2022-09-30 20:04] SimonBohnenQC commented on #22
@dhermes @mfschwartz Would it make sense to check that the response code is not 206 before validating checksums? This [fake-gcs-server](https://github.com/fsouza/fake-gcs-server) includes checksums even for partial downloads, which seems to be within specification (judging by the orange box [here](https://cloud.google.com/storage/docs/hashes-etags#crc32c). When those checksums are verified by this

[2022-10-04 15:30] simonbohnen opened #362 "Checksums are validated for partial responses"
#### Environment details

  - OS type and version: macOS 12.5.1
  - Python version: 3.10.7
  - pip version: 22.2.2
  - `google-resumable-media` version: 2.4.0

#### Steps to reproduce

This is hard to reproduce as the live GCS doesn't seem to send checksums for partial responses.
This [fake-gcs-server](https://github.com/fsouza/fake-gcs-server) however includes checksums with partial responses (HT

[2022-10-17 11:44] LoicEm commented on #204
I am coming back to you as it seems that I am having the same issue, with `google-resumable-media`

However, I get the error with both `crc32c` and `md5` checksum.

My code:
[code]

My versions:
[code]

Additional information:

[code]

## Current workarounds

I have found two ways to go around this:
- First one is as suggested here, using check

[2022-11-01 23:03] #362 closed